*{
	margin: 0 auto;
	text-align: center;
	user-select: none;
}

header{
	position: relative;
	float: left;
	width: 100%;
	height: 100px;
	background-color: lightgrey;
	box-shadow: 0px 0px 10px grey;
}

.logo-img{
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 50px;
}

.logo-text{
	position: relative;
	float: left;
	height: 100px;
	line-height: 100px;
	font-size: 50px;
}

.container-wrapper{
	position: relative;
	float: left;
	padding: 50px 0px;
	width: 100%;
	height: calc(100vh - 200px);
	overflow: auto;
}

.container{
	position: absolute;
	margin: auto;	
	top: 0px; right: 0px; bottom: 0px; left: 0px;
	padding: 50px 0px;
	max-width: calc(154 * 6px);
}

.project-wrapper{
	cursor: pointer;
	position: relative;
	margin: 10px;
	float: left;
	width: 120px;
	background-color: grey;
	border: 2px solid black;
	transition: .2s;
}

.project-wrapper:hover{
	box-shadow: 0px 0px 10px black;
}

.project-icon{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 10px;
}

.project-info{
	position: relative;
	padding: 5px 0px;
	bottom: 0px;
	width: inherit;
	background-color: lightgrey;
}

.project-title{
	position: relative;
	color: white;
	font-size: 18px;
	text-shadow: 0px 0px 2px black;
}

.pop-up{
	position: absolute;
	width: 100%;
	display: none;
	height: 100vh;
	background-color: black;
}

.iframe{
	position: absolute;
	margin: auto;
	top: 0px; right: 0px; bottom: 0px; left: 0px;
	width: 100%;
	height: 100%;
	border: none;
}

.close-btn{
	cursor: pointer;
	position: absolute;
	width: 40px;
	top: 5px;
	right: 10px;
	transition: .1s;
}

.close-btn:hover{
	top: 0px;
	right: 5px;
	width: 50px;
}