@media screen and (min-device-width: 640px){
	header{
		height: 10vh;
	}

	.logo-text{
		margin: 0px;
		font-size: 2em;
		height: 10vh;
		line-height: 10vh;
	}

	.filter-button-div{
		position: relative;
		float: left;
		display: block;
		width: 100%;
		height: 100px;
	}

	.filter-combo-div{
		display: none;
	}

	.filter-btn{
		cursor: pointer;
		position: relative;
		margin: 25px 10px 25px 0px;
		width: 120px;
		height: 50px;
		color: white;
		font-size: 1em;
		background-color: #ff383f;
		border: none;
		outline: none;
	}

	.filter-btn:hover{
		border: 1px solid black;
	}

	.container-wrapper{
		position: relative;
		float: left;
		width: 100%;
		height: calc(100vh - 10vh - 100px);
		overflow-y: scroll;
	}

	#project-container{
		width: calc(220px * 4);
	}

	.project-wrapper{
		width: calc(25% - 20px - 4px);
	}

	.project-icon{
		height: calc(880px / 4 - 50px);
	}

	.project-title{
		font-size: 1.5em;
	}

	.project-info p{
		font-size: 1.2em;
	}

	.close-btn{
		cursor: pointer;
		position: absolute;
		width: 40px;
		top: 5px;
		right: 10px;
		transition: .1s;
	}

	.close-btn:hover{
		top: 2px;
		right: 5px;
		width: 50px;
	}
}