*{
	margin: 0 auto;
	text-align: center;
	user-select: none;
}

header{
	position: relative;
	float: left;
	width: 100%;
	height: 250px;
	background-color: #4abdac;
	box-shadow: 0px 0px 10px grey;
}

.logo-img{
	position: relative;
	float: left;
	height: 100%;
	margin-left: 20px;
}

.logo-text{
	position: relative;
	float: left;
	margin: 25px 0px;
	width: calc(100% - 250px - 20px);
	height: 200px;
	text-align: left;
	line-height: 100px;
	font-size: 5em;
}

.filter-div{
	position: relative;
	width: 100%;
	height: 100px;
}

.filter-button-div{
	display: none;
}

.filter-combo-div{
	position: relative;
	float: left;
	width: 100%;
	height: 100px;
}

.filter-combo-div select{
	position: relative;
	padding-left: 10px;
	margin: 10px 0px;
	width: 440px;
	height: 80px;
	font-size: 3em;
	color: #ff383f;
}

.filter-combo-div select option{
	cursor: pointer;
	width: 100%;
	font-size: .3em;
}

.container-wrapper{
	position: relative;
	float: left;
	width: 100%;
	height: calc(100vh - 250px - 100px);
	overflow-y: scroll;
}

#project-container{
	position: absolute;
	margin: auto;
	top: 0px; right: 0px; bottom: 0px; left: 0px;
	width: 700px;
}

.project-wrapper{
	cursor: pointer;
	position: relative;
	margin: 10px;
	float: left;
	width: calc(100% -20px - 4px);
	border: 2px solid #ff383f;
	transition: .2s;
}

.project-wrapper:hover{
	box-shadow: 0px 0px 10px #ff383f;
}

.project-icon{
	position: relative;
	float: left;
	width: calc(100% - 14px);
	height: 650px;
	margin: 2px;
	border: 5px solid white;
}

.project-info{
	position: relative;   
	float: left;
	padding: 10px 0px;
	bottom: 0px;
	width: 100%;
	background-color: #4abdac;
}

.project-title{
	position: relative;
	float: left;
	width: 100%;
	color: white;
	font-size: 4em;
}

.project-info p{
	position: relative;
	float: left;
	width: 100%;
	color: white;
	font-size: 4em;
}

.pop-up{
	position: absolute;
	width: 100%;
	display: none;
	height: 100vh;
	background-color: black;
}

.iframe{
	position: absolute;
	margin: auto;
	top: 0px; right: 0px; bottom: 0px; left: 0px;
	width: 100%;
	height: 100%;
	border: none;
}

.close-btn{
	cursor: pointer;
	position: absolute;
	width: 100px;
	top: 20px;
	right: 25px;
	transition: .1s;
}

.close-btn:hover{
	top: 10px;
	right: 15px;
	width: 120px;
}